<style>
    
    * {margin: 0; padding: 0;}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: 15px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}
    
</style>
<h2>Richista foto per ${NAME}</h2>
<h4>Mail inserita ${EMAIL}</h4>
<p>
Sono state ordinate ${TOT_PHOTO} fotografie;
Elenco delle foto richieste:
</p>
${IMAGEPATHLISTHTML}
